.content {
  display: grid;
  gap: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
